.p1{
font-family:"times new roman";
font-size:4rem;
font-variant:small-caps;
}
a{
font-family:"times new roman";
font-size:2rem;
}
.img1{
display:inline;
width:50px;
height:50px;
border-radius:10px;
margin-bottom:20px;
}
p{
display:inline-block;   
float: left;
}
img{
width:300px;
height:300px;
border-radius:200px;
}

.p2{
font-family:arial;
font-size:4rem;
font-variant:normal;
}
.p3{
font-family:arial;
font-size:4rem;
font-variant:normal;
}
.p4{
font-family:arial;
font-size:4rem;
font-variant:normal;
}
.p5{
font-family:arial;
font-size:4rem;
font-variant:normal;
}
.p6{
font-family:arial;
font-size:4rem;
font-variant:normal;
}
.p7{
font-family:arial;
font-size:4rem;
font-variant:normal;
}
.div1{
display:flex;
flex-wrap: wrap;
gap:70px;
justify-content:center;
}
.div1>div{
flex-basis:100px;
}